<!DOCTYPE html>
<head>
    <title>计时器</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    >
    <script src="../vue2.js"></script>
</head>
<body style="margin: 0">
    <div id="app"></div>
    <script>
        function time_to_str(t) {
            let h = Math.floor(t / 3600);
            h = `00${h}`.slice(-2);
            let m = Math.floor(t / 60) % 60;
            m = `00${m}`.slice(-2);
            let s = t % 60;
            s = `00${s}`.slice(-2);
            return `${h}:${m}:${s}`;
        }

        new Vue({
            el: "#app",
            template: `<div class="main">
    <div class="header">
        <button @click="btn1_click">{{btn1_name}}</button>
        <button @click="btn2_click">结束</button>
        <button @click="btn3_click" :disabled="state=='run'?false:''">标记</button>
    </div>
    <br>
    <div style="color:green">当前 {{time_to_str(total)}} {{time_to_str(diff)}}</div>
    <br>
    <div class="record">
        <div v-for="(record,i) in records" :key="i" :pause="record.name=='暂停'?'':false">{{record.name}} {{time_to_str(record.total)}} {{time_to_str(record.diff)}}</div>
    </div>
    <br>
    <div v-for="(history,i) in historys" :key="i" style="margin-bottom: 20px">
        <details>
            <summary>{{history.name}}</summary>
            <br>
            <div class="record">
                <div v-for="(record,j) in history.records" :key="j" :pause="record.name=='暂停'?'':false">{{record.name}} {{time_to_str(record.total)}} {{time_to_str(record.diff)}}</div>
            </div>
            <br>
            <div style="display:flex; flex-direction:row; justify-content:space-between">
                <button @click="btn4_click(i)">重命名</button>
                <button @click="btn5_click(i)">删除</button>
            </div>  
        </details>
    </div>
    </div>`,
            data: {
                state: "clear",
                total_begin: 0,
                total: 0,
                diff_begin: 0,
                diff: 0,
                historys: [],
                records: []
            },
            computed: {
                btn1_name() {
                    if (this.state == "clear") return "开始";
                    else if (this.state == "run") return "暂停";
                    else return "继续";
                },
            },
            methods: {
                btn1_click() {
                    if (this.state == "run") {
                        this.records.push({
                            name: "暂停",
                            total: this.total,
                            diff: this.diff,
                        });
                        this.state = "pause";
                    }
                    else {
                        this.state = "run";
                        let time_now = Math.floor(new Date().getTime() / 1000);
                        this.total_begin = time_now - this.total;
                        this.diff_begin = time_now;
                        this.diff = 0;
                    }
                },
                btn2_click() {
                    this.records.push({
                        name: "结束",
                        total: this.total,
                        diff: this.diff,
                    });

                    this.state = "clear";
                    this.total_begin = 0;
                    this.total = 0;
                    this.diff_begin = 0;
                    this.diff = 0;
                    if (this.records.length > 0) {
                        this.historys.push({
                            name: "未命名",
                            records: this.records,
                        });
                        this.records = [];
                    }
                },
                btn3_click() {
                    this.records.push({
                        name: "标记",
                        total: this.total,
                        diff: this.diff,
                    });
                    let time_now = Math.floor(new Date().getTime() / 1000);
                    this.diff_begin = time_now;
                    this.diff = 0;
                },
                btn4_click(i) {
                    let t = prompt("重命名", this.historys[i].name);
                    if (t) this.historys[i].name = t;
                },
                btn5_click(i) {
                    this.historys.splice(i, 1);
                },
                update() {
                    if (this.state == "run") {
                        let time_now = Math.floor(new Date().getTime() / 1000);
                        this.total = time_now - this.total_begin;
                        this.diff = time_now - this.diff_begin;
                    }
                }
            },
            mounted() {
                setInterval(this.update, 100);
            }
        })
    </script>
    <style>
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: auto;
            margin-top: calc(50vh - 150px);
            margin-left: calc(50vw - 100px);
            margin-bottom: 10vh;
        }

        .record>div {
            color: gray;
        }

        .record>div[pause] {
            color: black;
        }

        .header button {
            font-size: 16px;
            padding: 9px;
        }

        summary {
            cursor: pointer;
            user-select: none;
        }

        summary button:first-child {
            margin-left: 20px;
        }
    </style>
</body>
</html>